body{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;

}

.head, .information, .action{
    padding: 0px 200px 100px;
}

ul{
    list-style-type: none;
    padding: 0px;
}

a{
    text-decoration: none;
    color: white;
}

.head{
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
}
.header{
    display: flex;
    justify-self: flex-start;
    justify-content: space-between;
    align-items: center;
   
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}
.header-ul{
    display: flex;
    gap: 12px;
}

.head-body{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.left-head{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}
.left-head-title{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.left-head-subtext, .link, .action-body-main-sub, .footer{
    font-size: 18px;
    color: #E5E7EB;
}
.left-head-button{
    background: #3882F6;
    padding: 4px 10px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    border: 0px;
}


.right-head{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background: gray;
}


/* information  */

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.information-head{
    margin: 30px 0px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.information-ul{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.information-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;
    height: 200px;
    gap: 8px;
    
}
.information-image{
    flex: 1;
    border-radius: 20px;
    width: 200px;
    border: 3px solid blue;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px 320px;
}

.quote-body{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}
.quote-right{
    margin-left: auto;
    font-size: 20px;
    font-weight: 900;
}

.action{
    padding-top: 100px;
}
.action-body{
    background-color: #3882F6;
    display: flex;
    align-items: center;
    padding: 50px 80px;
    border-radius: 20px;
}
.action-body-main{
    color: white;
    font-size: 30px;
}

.action-button{
    border: 1px solid white;
    margin-left: auto;
}

.footer{
    text-align: center;
    padding: 15px 0px;
    background-color: #1F2937;
}